<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="shortcut icon" type="image/x-icon" href="/static/favicon.ico" />
    <link rel="stylesheet" href="/static/css/index.css"/>
</head>
<body>

  u can play multi-sounds at the same time.<br>         <strong>{{ name }}</strong>
<div class="left">

    <div class="rain">
      rain
      <br>
      <audio controls loop>
        <source src="/static/sounds/rain.mp3" type="audio/mpeg">
      </audio>
    </div>

       <div class="night">
      night sound
      <br>
      <audio controls loop>
        <source src="https://yoyling.oss-cn-shenzhen.aliyuncs.com/files/relax/sound/ogg/night.ogg" type="audio/mpeg">
      </audio>
    </div>

           <div class="farm">
      farm
      <br>
      <audio controls loop>
        <source src="https://yoyling.oss-cn-shenzhen.aliyuncs.com/files/relax/sound/ogg/farm.ogg" type="audio/mpeg">
      </audio>
    </div>

    <div class="campfire">
      campfire
      <br>
      <audio controls loop>
        <source src="/static/sounds/Campfire.mp3" type="audio/mpeg">
      </audio>
    </div>

        <div class="campfire">
      fire
      <br>
      <audio controls loop>
        <source src="https://yoyling.oss-cn-shenzhen.aliyuncs.com/files/relax/sound/ogg/fire.ogg" type="audio/mpeg">
      </audio>
    </div>

    <div class="coffee">
      life-coffee
      <br>
      <audio controls loop>
        <source src="https://yoyling.oss-cn-shenzhen.aliyuncs.com/files/relax/sound/ogg/coffee.ogg" type="audio/mpeg">
      </audio>
    </div>

    <div class="seaside">
      seaside
      <br>
      <audio controls loop>
        <source src="https://yoyling.oss-cn-shenzhen.aliyuncs.com/files/relax/sound/ogg/seaside.ogg" type="audio/mpeg">
      </audio>
    </div>

    <div class="river">
      river
      <br>
      <audio controls loop>
        <source src="https://yoyling.oss-cn-shenzhen.aliyuncs.com/files/relax/sound/ogg/river.ogg" type="audio/mpeg">
      </audio>
    </div> 

    <div class="forest">
      forest
      <br>
      <audio controls loop>
        <source src="https://yoyling.oss-cn-shenzhen.aliyuncs.com/files/relax/sound/ogg/forest.ogg" type="audio/mpeg">
      </audio>
    </div> 


    <div class="yacht">
        life-yacht<br>
           <audio controls loop>
                    <source type="audio/ogg" src="https://yoyling.oss-cn-shenzhen.aliyuncs.com/files/relax/sound/ogg/yacht.ogg"  type="audio/mpeg" >
       
                </audio>
            </div>

    <div class="Trian">
      Trian
      <br>
      <audio controls loop>
        <source src="https://yoyling.oss-cn-shenzhen.aliyuncs.com/files/relax/sound/ogg/train.ogg" type="audio/mpeg">
      </audio>
    </div>

    <div class="waves">
      Thunder
      <br>
      <audio controls loop>
        <source src="/static/sounds/Waves.mp3" type="audio/mpeg">
      </audio>
    </div>

    <div class="birdsong">
      birdsong
      <br>
      <audio controls loop>
        <source src="/static/sounds/Birdsong.mp3" type="audio/mpeg">
      </audio>
    </div>
    <div class="wind">
      Wind
      <br>
      <audio controls loop>
        <source src="/static/sounds/Wind.mp3" type="audio/mpeg">
      </audio>
    </div>
    <div class="crickets">
      crickets
      <br>
      <audio controls loop>
        <source src="/static/sounds/Crickets.mp3" type="audio/mpeg">
      </audio>
    </div>
</div>
</body>
</html>
